<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>🤖 Django Beginners Mini-Project2🤖  </title>

  </head>
  <body>
    <div style="float:left"></div>
    <h1>Django Beginners Mini-Project2</h1>
    <h3>This mini project is an exercise to look at your understanding of Django so far. This is your change to show off your "Programming Love 🖤", your dedication, and your attention to details. Your solution should be well documented and tested for production release. It should follow good Python conventions, and should be easy to get running.
    </h3>
    <a href="group/"> <button>Group</button></a>
    <a href="event/"> <button>Event</button></a>
    <a href="people/"> <button>People</button></a>
    </div>  
    <div style="float: right;"> 
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fautomationpanda.com%2F2017%2F12%2F17%2Fdjango-favicon-setup-including-admin%2F&psig=AOvVaw25ptxe8gQMOqvk3gN6DWZ2&ust=1614316616689000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPjUw5akhO8CFQAAAAAdAAAAABAN" alt="Mountain"/>
        <a href="register/"><button> Register </button>
        

    </body>
</html>
